# **AI Impact on Jobs by 2030**

## Objectives

Objective of the notebook is to Extract -> Transform -> Load dataset (AI Impact on Jobs), ready to analyse project hypothesis. 

## Inputs

The primary dataset for this project is AI Impact on Jobs by 2030 collected from Kaggle intended for research purposes https://www.kaggle.com/datasets/khushikyad001/ai-impact-on-jobs-2030/data

---

# Section 1

# Extract

1. Import libraries necessary for data analysis and visualisation tasks.
2. The pandas library will be utilised for data analysis.

In [8]:
# importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# using pandas library to read the csv data in
df_full = pd.read_csv('../Dataset/Raw/AI_Impact_on_Jobs_2030.csv')

In [11]:
# Check counts for key columns
print("Risk_Category counts:")
print(df_full['Risk_Category'].value_counts())

print("\nEducation_Level counts:")
print(df_full['Education_Level'].value_counts())

print("\nJob_Title counts (top 10):")
print(df_full['Job_Title'].value_counts().head(10))

Risk_Category counts:
Risk_Category
Medium    1521
High       740
Low        739
Name: count, dtype: int64

Education_Level counts:
Education_Level
High School    784
Bachelor's     765
Master's       735
PhD            716
Name: count, dtype: int64

Job_Title counts (top 10):
Job_Title
Software Engineer      175
UX Researcher          167
Data Scientist         167
Teacher                166
Graphic Designer       160
HR Specialist          157
Construction Worker    156
Retail Worker          155
Security Guard         154
Truck Driver           153
Name: count, dtype: int64

---

# Section 2

# Transform

1. Explore the data and limited to the first 500 rows to make analysis more manageable.
2. Check for missing values and drop rows with missing values.
3. Remove duplicate data.
4. Standardise formats.

In [12]:
# Explore the data
df = df_full.head(500)  # Limit to 500 rows for manageability
print("Shape:", df.shape)
print("Head:")
display(df.head())
print("Info:")
df.info()
print("Describe:")
display(df.describe())

# Check for missing values
print("Missing values:")
print(df.isnull().sum())

# Handle missing values (drop rows with missing values as an example)
df = df.dropna()

# Remove duplicates
df = df.drop_duplicates()

# Standardise formats (e.g., lowercase string columns)
df = df.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)

print("Data cleaned. Shape after cleaning:", df.shape)

Shape: (500, 18)
Head:

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job_Title                    500 non-null    object
 1   Average_Salary               500 non-null    int64
 2   Years_Experience             500 non-null    int64
 3   Education_Level              500 non-null    object
 4   AI_Exposure_Index            500 non-null    float64
 5   Tech_Growth_Factor           500 non-null    float64
 6   Automation_Probability_2030  500 non-null    float64
 7   Risk_Category                500 non-null    object
 8   Skill_1                      500 non-null    float64
 9   Skill_2                      500 non-null    float64
 10  Skill_3                      500 non-null    float64
 11  Skill_4                      500 non-null    float64
 12  Skill_5                      500 non-null    float64
 13  Skill_6                      500 non-null    float64
 14  Skill_7                      500 non-null    float64
 15  Skill_8                      500 non-null    float64
 16  Skill_9                      500 non-null    float64
 17  Skill_10                     500 non-null    float64
dtypes: float64(13), int64(2), object(3)
memory usage: 70.4+ KB
Describe:

,Average_Salary,Years_Experience,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.00000
mean,86572.136000,14.986000,0.497880,0.986200,0.489000,0.482440,0.488400,0.511240,0.502920,0.491540,0.50932,0.509560,0.495300,0.501020,0.50552
std,34602.089285,8.756893,0.283951,0.293738,0.245574,0.283651,0.280572,0.285836,0.284493,0.291024,0.28757,0.289638,0.293815,0.285073,0.28879
min,30060.000000,0.000000,0.000000,0.500000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
25%,54851.500000,8.000000,0.267500,0.720000,0.297500,0.230000,0.260000,0.290000,0.260000,0.220000,0.25000,0.260000,0.230000,0.270000,0.26000
50%,85615.500000,15.000000,0.490000,1.000000,0.490000,0.490000,0.490000,0.525000,0.510000,0.490000,0.51000,0.490000,0.500000,0.480000,0.53000
75%,116022.000000,23.000000,0.740000,1.232500,0.680000,0.720000,0.712500,0.760000,0.740000,0.742500,0.76000,0.772500,0.750000,0.740000,0.75250
max,149798.000000,29.000000,1.000000,1.500000,0.950000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.00000

Missing values:
Job_Title                      0
Average_Salary                 0
Years_Experience               0
Education_Level                0
AI_Exposure_Index              0
Tech_Growth_Factor             0
Automation_Probability_2030    0
Risk_Category                  0
Skill_1                        0
Skill_2                        0
Skill_3                        0
Skill_4                        0
Skill_5                        0
Skill_6                        0
Skill_7                        0
Skill_8                        0
Skill_9                        0
Skill_10                       0
dtype: int64
Data cleaned. Shape after cleaning: (500, 18)

In [13]:
# Check counts for key columns
print("Risk_Category counts:")
print(df['Risk_Category'].value_counts())

print("\nEducation_Level counts:")
print(df['Education_Level'].value_counts())

print("\nJob_Title counts (top 10):")
print(df['Job_Title'].value_counts().head(10))

Risk_Category counts:
Risk_Category
medium    264
low       128
high      108
Name: count, dtype: int64

Education_Level counts:
Education_Level
high school    143
bachelor's     127
master's       120
phd            110
Name: count, dtype: int64

Job_Title counts (top 10):
Job_Title
research scientist    38
graphic designer      31
data scientist        31
ux researcher         30
financial analyst     29
mechanic              29
ai engineer           27
teacher               27
hr specialist         27
chef                  25
Name: count, dtype: int64

---

# Section 3

# Load

1. Load the data to the "Cleaned" folder as CSV file.

In [17]:
# Save the cleaned data to the Cleaned folder
df.to_csv('../Dataset/Cleaned/cleaned_data.csv', index=False)
print("Cleaned data saved to ../Dataset/Cleaned/cleaned_data.csv")

Cleaned data saved to ../Dataset/Cleaned/cleaned_data.csv

In [18]:
# Load and display the cleaned data as a table
df_cleaned = pd.read_csv('../Dataset/Cleaned/cleaned_data.csv')
display(df_cleaned.head(10))  # Display first 10 rows as a table

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
0,security guard,45795,28,master's,0.18,1.28,0.85,high,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00
1,research scientist,133355,20,phd,0.62,1.11,0.05,low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98
2,construction worker,146216,2,high school,0.86,1.18,0.81,high,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83
3,software engineer,136530,13,phd,0.39,0.68,0.60,medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33
4,financial analyst,70397,22,high school,0.52,1.46,0.64,medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42
5,ai engineer,92592,11,master's,0.29,0.51,0.10,low,0.71,0.79,0.61,0.93,0.65,0.91,0.85,0.45,0.10,0.37
6,mechanic,107373,23,phd,0.67,1.09,0.41,medium,0.56,0.38,0.97,0.85,0.72,0.24,0.26,0.04,0.71,0.11
7,teacher,53419,12,high school,0.20,1.40,0.17,low,0.56,0.70,0.14,0.60,0.54,0.20,0.94,0.60,0.69,0.88
8,hr specialist,139225,12,master's,0.30,0.61,0.48,medium,0.22,0.42,0.88,0.32,0.12,0.36,0.91,0.27,0.65,0.00
9,customer support,85016,2,high school,0.01,1.01,0.80,high,0.22,0.12,0.34,0.94,0.32,0.52,0.70,0.36,0.97,0.96

In [ ]:
# Hypothesis 1 ETL: Prepare data for entry-level or graduate jobs at higher risk of automation

# Filter for entry-level jobs (low experience, e.g., <= 3 years) or graduate jobs (higher education: Master's or PhD)
df_h1 = df[(df['Years_Experience'] <= 3) | (df['Education_Level'].isin(['master\'s', 'phd']))]

# Separate into routine/manual tasks (High risk) and cognitive/creative roles (Low risk)
df_routine = df_h1[df_h1['Risk_Category'] == 'High']
df_cognitive = df_h1[df_h1['Risk_Category'] == 'Low']

# Save the filtered datasets for analysis
df_h1.to_csv('../Dataset/Cleaned/hypothesis1_data.csv', index=False)
df_routine.to_csv('../Dataset/Cleaned/hypothesis1_routine.csv', index=False)
df_cognitive.to_csv('../Dataset/Cleaned/hypothesis1_cognitive.csv', index=False)

print("Hypothesis 1 data prepared and saved.")
print(f"Total jobs in H1: {len(df_h1)}")
print(f"Routine/manual jobs: {len(df_routine)}")
print(f"Cognitive/creative jobs: {len(df_cognitive)}")

In [ ]:
# Hypothesis 2 ETL: Prepare summary for jobs by education level and average automation risk

# Group by education level and calculate average automation risk
df_h2 = df.groupby('Education_Level')['Automation_Probability_2030'].mean().reset_index()
df_h2.rename(columns={'Automation_Probability_2030': 'Average_Risk'}, inplace=True)

# Save the summary
df_h2.to_csv('../Dataset/Cleaned/hypothesis2_summary.csv', index=False)
print("Hypothesis 2 summary saved.")
print(df_h2)

In [ ]:
# Hypothesis 3 ETL: Prepare correlations between skills and automation risk

# Identify skill columns
skill_cols = [f'Skill_{i}' for i in range(1, 11)]

# Calculate correlations with automation risk
correlations = df[skill_cols + ['Automation_Probability_2030']].corr()['Automation_Probability_2030'].drop('Automation_Probability_2030')
df_h3 = correlations.reset_index()
df_h3.columns = ['Skill', 'Correlation_with_Risk']

# Save the correlations
df_h3.to_csv('../Dataset/Cleaned/hypothesis3_correlations.csv', index=False)
print("Hypothesis 3 correlations saved.")
print(df_h3)